.toolbar-text { display: inline-flex; min-width: 0; height: 2.525rem; color: #565963; font-weight: 650; line-height: 1; align-items: center; }
.toolbar-text[data-size="large"] { font-size: 1rem; letter-spacing: -.015em; }
.toolbar-text[data-size="default"] { font-size: .875rem; }
.toolbar-text[data-size="small"] { font-family: ui-monospace, SFMono-Regular, Menlo, monospace; font-size: .75rem; }
